* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  


 

  
  .navbar {
    padding-right: 3vw;
    padding-left: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2vw;
  }
  
  .navbar ul {
    display: none;
    
    
  }
  
 
    
 
  
  @media screen and (min-width: 500px) {
    .navbar ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .navbar ul a {
      text-decoration: none;
    }
    .navbar ul a li {
      padding-left: 3vw;
      font-family: "Poppins", sans-serif;
      color: #404040;
      font-weight: 700;
    }
    .navbar ul a li span img {
      width: 18px;
      padding-left: 5px;
    }
    .navbar ul a:first-child li {
      color: #FFA500;
    }
  }
  
  .navbar .navIcon {
    font-size: 30px;
  }
  
  @media screen and (min-width: 684px) {
    .navbar .navIcon {
      display: none;
    }
  }
  
  .header-container{
    background: #ffffff;
    align-items: center;
    padding-right: 3vw;
  padding-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          padding-top: 2vw;
  }
  
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h2{
    color: #404040;
    line-height: 60px;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 24px;
    
  }
  
  header p{
    font-size: 32px;
      line-height: 48px;
      color: #404040;
      width: 691px;
      margin-bottom: 48px;
  }
  
  header .hero-image{
    position: relative;
    width: 500px;
    height: 500px;
  }
  
  
  .social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    position: absolute;
    width: 200px;
    height: 46px;
    left: 802px;
    top: 928px;
  }
  
  .about{
    position: absolute;
    left: 86px;
    top: 929px;
    height: 0px;
    width: 72px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    text-transform: capitalize;
    color: #404040;
    text-decoration: none;
  }
  
  .faq{
    position: absolute;
    left: 197px;
    top: 929px;
    height: 0px;
    width: 45px;
    text-decoration: none;
  
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    text-transform: capitalize;
    color: #404040;
  
  }
  
  .help{
    position: absolute;
    left: 279px;
    top: 929px;
    height: 0px;
    width: 54px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    text-transform: capitalize;
    color: #404040;
  }
  
  .privacy{
    position: absolute;
    left: 374px;
    top: 929px;
    height: 0px;
    width: 87px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    text-transform: capitalize;
    color: #404040;
  }
  
  .terms{
    position: absolute;
    left: 501px;
    top: 929px;
    height: 0px;
    width: 75px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    text-transform: capitalize;
    color: #404040;
  }
  
  .ltd{
    position: absolute;
    left: 85px;
    top: 967px;
    height: 0px;
    width: 489px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0px;
    text-transform: capitalize;
    color: #404040;
  }